body {
    background-color: #001f3f;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    background-color: #c40021; /* Rouge */
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    width: 200px;
    text-decoration: none;

}

h1 {
    font-size: 48px;
    font-weight: 600;
    color:#c40021;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
